.footer {
    height: 100px;
    background-color: #12005e;
    color:#fff;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:16px;
}

.footer__social {
    margin-right: 32px;
}

.social__link {
    color: #fff;
    text-decoration:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer .footer__social li img {
    width: 25px;
    height: 25px;
}


