.main {
    padding: 16px 16px 100px;
}

.main__section {
    padding: 16px;
    background-color: yellowgreen;
    border-bottom: 2px solid #000;
}

.main__section:not(:first-of-type) {
    margin-top: 16px
}

.main__section:last-of-type {
    margin-bottom: 16px;
}

.section__form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section__form > button{
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.form__container {
    flex: 1 1 auto;
    flex-direction: column;
    vertical-align: top;
    width: 50%;
}

.container__element{
    display: block;
    width: 100%;
}

.main .main__button{
    margin-left: 16px;
}

.main__display *{
    margin-top: 32px;
}

.main__button--active {
    background-color: blue;
    color: #fff;
}

.main__display__paragraph--hidden {
    display: none;
}

.main .skill-show .skill {
    height: 35px;
    width: 500px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 1px;
} 

.main .skill-show .skill .skill-item {
    width: 1%;
    height: 100%;
    background-color: red;
}